---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getPosts } from "@/lib/content";

const posts = await getPosts();
---

<BaseLayout>
  <div class="post-list">
    {posts.map((post) => (
      <article>
        <h2><a href={post.url}>{post.title}</a></h2>
        <p>{post.excerpt}</p>
        <a href={post.url}>Read More</a>
      </article>
    ))}
  </div>
</BaseLayout>
