---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getPosts } from "@/lib/content";

const posts = await getPosts();
---

<BaseLayout>
  <div class="posts">
    {posts.map((post) => (
      <article class="post">
        <h1><a href={post.url}>{post.title}</a></h1>
        <div class="entry">
          <p>{post.excerpt}</p>
        </div>
        <a href={post.url} class="read-more">Read More</a>
      </article>
    ))}
  </div>
</BaseLayout>
